* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.section__profile__img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
}
.section__profile {
    display: flex;
    align-items: center;
    padding: 24px 16px;
}
.section__profile__about {
    margin-left: 16px;
}
.title {
    font-size: 24px;
    margin-bottom: 8px;
}
.text {
    font-size: 20px;
}
.profile__about__name {
    font-size: 40px;
}
.divider {
    height: 1px;
    background-color: black;
}
body {
    padding: 16px;
}
.section__objetive {
    padding: 24px 16px;
}
.section__qualification {
    padding: 24px 16px;
}
.section__qualification__item:not(:last-child) {
    margin-bottom: 8px;
}
.section__formation {
    padding: 24px 16px;
}
.section__knowledge {
    padding: 24px 16px;
}
.section__complementary__courses {
    padding: 24px 16px;
}
/* margin - espaçamento para fora!
padding - espaçamento para dentro! */